@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
/* html {
    font-family: "Roboto";
} */
img {
    height: 200px;
}
footer {
    position: fixed;
    padding: 24px;
    left: 0;
    right: 0;
    bottom: 0;
    padding-left: 20px;
    padding-right: 0px;
    background-color: #B4CF66;
}
main {
    padding: 16px;
    margin-bottom: 100px;
    font-family: "Roboto";
}
nav {
    border-bottom: 1px;
    padding: 16px;
    margin: 0px;
    border-bottom: 1px solid #FFEC5C;
    background-color: #FF5A33;
}
a{
    text-decoration: none;
}
a:hover {
    color: green;
}
.main-page {
    color: white;
}
.first_sentence {
    color: #146152;
}
.recipes-name {
    color: #44803F;
}
table tr:nth-child(even){
    background-color: rgb(223, 223, 223);
}
body {
    margin: 0px;
}
.recipes-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    /* grid-template-rows: 1fr 1fr; */

}
